*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

node_modules/
quiznova-backend/.env
quiznova-web/.env
quiznova-web/.env.production
quiznova-web/dist/
quiznova-backend/node_modules/
quiznova-web/node_modules/
